.last-update-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  /*background-color: red;*/
}

  .last-update-title {
    flex: 1;
    order: 1;
    color: rgba(255,255,255,0.6);
    text-transform: uppercase;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .last-update-data {
    margin-top: 10px;
    flex: 1.5;
    order: 2;

    /*background-color: yellow;*/
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .last-update-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: blue;*/
  }

    .last-update-item-title {
      flex: 1;
      order: 1;
      text-transform: uppercase;
      font-size: 1.1em;
      margin-bottom: 5px;
      color: rgba(255,255,255,0.5);
    }

    .last-update-item-data {
      flex: 1.5;
      order: 2;
      padding: 5px 20px 5px 20px;
      background-color: rgba(255,255,255,0.1);
      color: white;
      font-weight: bolder;
      border-radius: 5px;
    }
