.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Carousel {
  background: #555;
}

.CarouselItem {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(255,255,255,0.8);
  border: 1px solid grey;
  border-radius: 10px;
  transform-origin: center center;
  transition: 500ms ease-out;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
