.add-new-popover {
  display: flex;
  flex-direction: row;
}

  .dashboard-content-container {
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .current-feed-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    /*background-color: red;*/
    text-transform: uppercase;
    letter-spacing: 10px;
    color: white;
  }

  .dashboard-content-left {
    display: flex;
    flex-direction: column;
    flex: 1.75;
    /*background-color: blue;*/
  }

  .dashboard-content-left-bottom {
    display: flex;
    flex-direction: row;
  }


.label-control-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*background-color: red;*/
}
  .add-new-button {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border-style: solid;
    background-color: transparent;
    color: white;
    font-size: 1em;
    margin: 10px;

  }

  .corner-label {
    opacity: 0.6;
    background-color: rgba(255,255,255,0.2);
    color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 2.5px;
    display: inline-block;
  }
