.add-new-popover {
  display: flex;
  flex-direction: row;
}

  .dashboard-content-container {
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .dashboard-content-title-section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
  }

  .reset-feed-button {
    opacity: 1.0;
    padding: 5px;
    border-radius: 5px;
    color: white;

    background-color: transparent;

    margin-right: auto;
    margin-left: 10px;

    border-style: solid;
    border-color: red;
    border-width: 2px;

    transition: 0.2s linear;
  }

  .reset-feed-button:hover {
    background-color: red;
  }

  .current-feed-title {
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;
    letter-spacing: 10px;
    color: white;

    position: absolute;
  }

  .dashboard-content-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    /*background-color: red;*/
  }

  .dashboard-content-left-bottom {
    display: flex;
    flex-direction: row;
  }


.label-control-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*background-color: red;*/
}
  .add-new-button {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border-style: solid;
    background-color: transparent;
    color: white;
    font-size: 1em;
    margin: 10px;

  }

  .corner-label {
    opacity: 0.5;
    background-color: rgba(255,255,255,0.2);
    color: white;
    margin: 10px;
    padding: 5px;
    border-radius: 2.5px;
    font-size: 0.9em;
    display: inline-block;
  }
