.sparkline-viz-container {
  background-color: blue;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.sparkline-viz-info {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.sparkline-viz-chart {
  flex: 1;
  height: 100%;
  background-color: gray;
}
