.admin {
  background-color: rgb(17, 17, 17);
  height: 100%;
  width: 100%;
  position: fixed;
}

.admin-nested-routes {
  display: flex;
  height: 50px;
  background-color: green;
  text-align: center;
  align-self: center;

  align-items: center;
  justify-content: center;
}
  .admin-button {
    font-family: 'Maven Pro';
    background-color: transparent;

    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;

    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: white;
    color: white;

    transition: 0.2s ease-in-out;
  }

  .admin-button:hover {
      background-color: white;
      color: black;
    }
