.Tweet-Header {
  order: 1;
  color:white;

  height: 100px;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}

  .tweet-header-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    /*background-color: green;*/
    flex: 4;
  }

    .top {
      order: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

        .text-wrap {
          display: flex;
          flex-direction: row;

          /*aligns two different text sizes to bottom*/
          align-items: baseline;
          justify-content: flex-start;
        }
        .twitter-title {
          font-size: 25px;
          /*background-color: red;*/
          font-weight: bold;
          opacity: 0.8;
        }

        .date {
          margin-left: 10px;
          font-size: 1em;

          /*background-color: red;*/
          opacity: 0.4;
          font-weight: 300;
        }

    .bottom {
      order: 3;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      margin-top: -35px;
    }

        .avg-sent {
          order: 1;
          opacity: 0.5;
          font-weight: 300;
          font-size: 1.2em;
        }

        .color-id-neg {
          color:rgba(212, 75, 60,0.7);
          margin-left: 5px;
          order: 2;
          font-weight: 600;
          transition: 0.25s linear;
        }

        .color-id-neg:hover {
          color:rgba(212, 75, 60,1.0);
          margin-left: 5px;
          order: 2;
          font-weight: 600;
        }

        .color-id-pos {
          margin-left: 5px;
          order: 2;
          color:rgba(187,248,255,0.50);
          font-weight: 600;
          opacity: 0.5;
          transition: 0.25s linear;
        }

        .color-id-pos:hover {
          margin-left: 5px;
          order: 2;
          color:rgba(187,248,255,1);
          font-weight: 600;
          opacity: 0.8;
        }

  .tweet-header-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .tweet-header-button {
    height: 3em;
    width: 3em;
    background: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: -20px;

    text-align: center;
    color: white;

    transition: 0.25s ease-in-out;
    opacity: 0.5;
  }

  .tweet-header-button:hover {
    background-color: white;
    border-style: solid;
    border-color: white;
    color: #222;
    opacity: 1;
    transform: scale(1.25);
  }
