.Graph-Section {
  order: 2;
  flex: 2.5;

  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.graph-wrapper {
  border-radius: 5px;
  margin-top: 10px;
  background-image: linear-gradient(to bottom right, #222 0%, rgba(63,66,54,0.1) 100%);
  color:white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.market-info {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  justify-content: space-around;

  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

  .market-list-item {
    color: rgba(255,255,255,0.5);
    padding: 20px;
    margin: 10px;
    background-image: linear-gradient(to bottom right, #222 0%, rgba(255,255,255,0.1) 100%);
    border-radius: 5px;
    transition: 0.25s ease-in-out;
  }

  .market-list-item:hover {
    background-color: rgba(255,255,255,0.2);
    transform: scale(1.2);
    border-radius: 10px;
  }

.stock-detail-val {
  opacity: 0.5;
  transition: 0.2s linear;
}

.stock-detail-val:hover {
  opacity: 1.0;
  font-weight: 600;
  font-size: 1.25em;
}
