.Tweet-Header {
  order: 1;
  color:white;

  /*background-color: blue;*/

  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: 20px;
}

  .top {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

      .text-wrap {
        /*background-color: green;*/
        display: flex;
        flex-direction: row;

        /*aligns two different text sizes to bottom*/
        align-items: baseline;
        justify-content: flex-start;
      }
      .twitter-title {
        font-size: 25px;
        /*background-color: red;*/
        font-weight: bold;
        opacity: 0.8;
      }

      .date {
        margin-left: 10px;
        font-size: 15px;

        /*background-color: red;*/
        opacity: 0.4;
        font-weight: 300;
      }

  .bottom {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: -35px;
    /*background-color: rgba(0,0,0,0.5);*/
  }

      .avg-sent {
        order: 1;
        opacity: 0.5;
        font-weight: 300;
      }

      .color-id-neg {
        margin-left: 5px;
        order: 2;
        color:rgb(255, 97, 76);
        font-weight: 600;
        opacity: 0.5;
        transition: 0.25s linear;
      }

      .color-id-neg:hover {
        margin-left: 5px;
        order: 2;
        color:red;
        font-weight: 600;
        opacity: 0.8;
      }

      .color-id-pos {
        margin-left: 5px;
        order: 2;
        color:rgba(187,248,255,0.50);
        font-weight: 600;
        opacity: 0.5;
        transition: 0.25s linear;
      }

      .color-id-pos:hover {
        margin-left: 5px;
        order: 2;
        color:rgba(187,248,255,1);
        font-weight: 600;
        opacity: 0.8;
      }
