.Tweet-Section {
  order: 1;
  flex: 1;
  min-width: 430px;

  /*background-color: red;*/
  display: flex;
  flex-direction: column;
}

.tweet-feed-separator {
  order: 3;
  height: 5px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.1);

  margin-top: 10px;
  margin-bottom: 10px;

  margin-left: 20px;
  margin-right: 20px;
}
