.button-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.button {
  align-self: center;
  display: inline-block;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  background: transparent;
  border-style: solid;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  transition: 0.25s ease-in-out;
  width: 100%;
  font-family: 'Maven Pro';
  text-transform: uppercase;
}

  .button.update:hover {
    background-color: rgba(255,255,255,0.8);
    border-color: white;
    color: rgb(17,17,17);
  }

  .button.start {
    border-color: rgba(155, 229, 130,0.8);
  }

  .button.start:hover {
    background-color: rgba(155, 229, 130,0.8);
    color: white;
  }

  .button.stop, .button.reset {
    border-color: rgb(255, 97, 76);
  }

  .button.stop:hover, .button.reset:hover {
    background-color: rgba(255, 97, 76,0.8);
    color: white;
  }

  .button:active {
    transform: scale(0.95);
  }

  button:focus {outline:0;}
