.button-section {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  align-self: center;
  display: inline-block;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  background: transparent;
  border-style: solid;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  transition: 0.25s ease-in-out;
  width: 100%;
}

  .button.update:hover {
    background-color: white;
    border-color: white;
    color: rgb(17,17,17);
  }

  .button.start {
    border-color: rgb(155, 229, 130);
  }

  .button.start:hover {
    background-color: rgb(155, 229, 130);
    color: white;
  }

  .button.stop, .button.reset {
    border-color: rgb(255, 97, 76);
  }

  .button.stop:hover, .button.reset:hover {
    background-color: rgb(255, 97, 76);
    color: white;
  }

  button:focus {outline:0;}
