.Graph-Header {
  display: flex;
  flex-direction: column;
  width: auto;
  /*background-color: red;*/
}

  .Graph-Header .top {
    order: 1;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    /*background-color: green;*/

    color: white;
  }

    .title-detail {
      font-size: 0.9em;
      opacity: 0.5;
      font-weight: 600;
    }

    .title-detail-livefeed {
      margin-left: 20px;
      background-color: rgba(255,255,255,0.20);
      padding: 10px 10px 10px 7.5px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-size: 0.55em;
      border-radius: 5px;
      opacity: 0.65;
      font-weight: 600;

      animation-duration: 2500ms;
      animation-name: blink;
      animation-iteration-count: infinite;
    }

    @keyframes blink {
      0% {
          color:rgba(255,255,255,0.25);
      }
      75% {
          color:rgba(255,255,255,0.85);
        }
      100% {
        color:rgba(255,255,255,0.25);

      }
    }

    .current-time {
      font-weight: lighter;
      opacity: 0.5;
    }

  .Graph-Header .middle {
    order: 2;
    color: white;
    opacity: 0.4;
    font-weight: 300;
    font-size: 20px;

    display: flex;
    align-items: flex-start;
    margin-top: 0px;
  }

  .Graph-Header .bottom {
    order: 3;
    /*background-color: green;*/
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 0px;
  }

  .Graph-Header .bottom-neg {
    order: 3;
    /*background-color: green;*/
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 0px;
    color: rgb(255, 97, 76);
  }

  .Graph-Header .bottom-pos {
    order: 3;
    /*background-color: green;*/
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 0px;
    color: rgb(137, 182, 255);
  }

    .detail {
      opacity: 0.75;
      padding-right: 5px;
    }

    .current-stock {
      font-size: 25px;
    }

    .separator {
      font-size: 25px;
    }

    .price-delta {
      font-size: 20px;
    }

    .percent-delta {
      font-size: 15px;
      font-weight: lighter;
      opacity: 0.5;
    }
