.live-injection-container {
  flex: 1;
  order: 1;
  /*background-color: green;*/

  display: flex;
  flex-direction: column;
  border-radius: 10px;

  margin-left: 10px;
  margin-right: 10px;

  }


    .live-injection-content {
      background-color: #222;
      border-radius: 5px;
      flex: 7;
      transition: 0.2s ease-in-out;
    }

    .sliders-container {
      margin-left: 25px;
      margin-right: 35px;
    }

    .time-set  {
      color: white;
      font-size: 30px;
      padding: 30px;
      align-self: flex-start;
    }

    .time-input {
      text-align: right;
    }
