.presets-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 2;

  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;

}

    .presets-title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;

      /*background-color: red;*/
      text-transform: uppercase;
      letter-spacing: 10px;
      color: white;
    }

    .presets-content {
      background-color: #222;
      /*background-color: gray;*/
      border-radius: 5px;
      transition: 0.2s ease-in-out
    }
