.current-feed-header-container {
  display: flex;
  flex-direction: row;

  background-color: blue;
  flex: 1;
  margin: 10px;
  border-radius: 5px;
}

.current-feed-header-timer {
  display: flex;
  flex: 1;
  background-color: red;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  font-weight: bold;
  color: white;
}

.current-feed-header-dataviz {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: yellow;
}

  .current-feed-separator {
    height: 2.5px;
  }
