.slider-container {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}


.label {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}


h1 {
  margin-bottom: 0;
}

.main-value {
  font-size: 20px;
}

input {
  background-color: transparent;
  color: white;
  border-color: transparent;
  font-size: 30px;
  text-align: right;
  appearance: none;
}

input:focus {
    outline:none;
}

.flux {
  display: flex;
  flex-direction: row;
}

.flux-title {
  margin-right: 20px;
}

.slider {
  width: 150px;
}


.flux-button {
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;

  background-color: transparent;
  border-radius: 5px;
  transition: 0.25s ease-in-out;
  border-style: solid;
  border-width: 1px;
  color: white;
}

.flux-button:hover, .flux-button:focus {
  background-color: white;
  color: black;
}

.val-detail {
  opacity: 0.8;
  transition: 0.25s linear;
}

.val-detail:hover {
  opacity: 1.0;
}

.range {
  padding-bottom: 20px;
  margin: 10px;
  width: 100%;
}

.range-time-container {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.range-time {
  flex: 2;
}

.time-release-label {
  flex: 1;
}
