.Graph-Section {
  order: 2;
  flex: 2.5;

  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.graph-wrapper {
  border-radius: 5px;
  margin-top: 10px;
  background-image: linear-gradient(to bottom right, #222 0%, rgba(63,66,54,0.1) 100%);
  color:white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-switch {
  margin-top: 10px;
}

.under-graph {
  display: flex;
  flex-direction: column;

}

  .under-graph-header {
    order: 1;
    display: flex;
    flex-direction: row;

    color: rgba(255,255,255,0.5);
    margin-top: 10px;
  }

    .under-graph-title {
      color: rgba(255,255,255,0.5);
      margin-top: 10px;
    }

    .under-graph-trend {
      margin-left: 10px;
      color: rgba(255,255,255,0.5);
      margin-top: 10px;
    }

  .under-graph-viz {
    order: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: -1;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, #222 0%, rgba(63,66,54,0.1) 100%);
  }

  .sent-graph-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }

.market-info {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;

  margin-top: 10px;
}
