.Graph-Header {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  /*background-color: red;*/
}

  .Graph-Header .top {
    order: 1;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    /*background-color: green;*/

    color: white;
  }

    .title-detail {
      font-size: 16px;
      opacity: 0.4;
      font-weight: 300;
    }

    .current-time {
      font-weight: lighter;
      opacity: 0.5;
    }

  .Graph-Header .middle {
    order: 2;
    color: white;
    opacity: 0.4;
    font-weight: 300;
    font-size: 20px;
    /*background-color: white;*/

    display: flex;
    align-items: flex-start;
    margin-top: -20px;
  }

  .Graph-Header .bottom {
    order: 3;
    /*background-color: green;*/
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 0px;
  }

  .Graph-Header .bottom-neg {
    order: 3;
    /*background-color: green;*/
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 0px;
    color: rgb(255, 97, 76);
  }

  .Graph-Header .bottom-pos {
    order: 3;
    /*background-color: green;*/
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 0px;
    color: rgb(137, 182, 255);
  }

    .detail {
      opacity: 0.75;
      padding-right: 5px;
    }

    .current-stock {
      font-size: 25px;
    }

    .separator {
      font-size: 25px;
    }

    .price-delta {
      font-size: 20px;
    }

    .percent-delta {
      font-size: 15px;
      font-weight: lighter;
      opacity: 0.5;
    }
