.tweet-container.neg {
  margin: 10px;
  min-height: 100px;
  background-image: linear-gradient(135deg, rgba(212,75,60,0.90) 0%, rgba(255,91,91,0.60) 100%);
  border-radius: 8px;
  color: white;
  opacity: 0.9;

  transition: 0.25s ease-in-out;

  /*display: flex;*/
  display: flex;
  flex-direction: row;
}

.tweet-container.pos {
  margin: 10px;
  height: 100px;
  background-image: linear-gradient(-135deg, #9FDEF3 0%, rgba(187,248,255,0.50) 100%);
  border-radius: 8px;
  color: white;
  opacity: 0.9;

  transition: 0.25s ease-in-out;

  display: flex;
  flex-direction: row;
}

.tweet-container.pos:hover {
  transform: scale(1.05);
  margin-bottom:20px;
  opacity: 1.0;
  background-color: rgba(158,222,242,0.90);
  box-shadow: 0 7px 50px 0 rgba(140,219,227,0.16);
}

.tweet-container.neg:hover {
  transform: scale(1.05);
  margin-bottom:20px;
  opacity: 1.0;
  background-color: rgba(212,75,60,0.90);
  box-shadow: 0 7px 40px 0 rgba(188,70,70,0.50);
}

/*LEFT COLUMN OF THE TWEET*/
.left {
  order: 1;
  width: 50px;
}

.pic {
  position: absolute;

  width: 50px;
  height:50px;
  margin: 10px;

  background-color: white;
  border-radius: 5px;
  opacity: 0.3;

  transition: 0.2s linear;
}

/*RIGHT COLUMN OF THE TWEET*/
.right {
  /*PARENT FLEX INFO*/
  flex: 5;
  order: 2;

  /*CHILD FLEX*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin-left: 20px;
  margin-right: 10px;
}

/*TOP PART OF THE TWEET.
HANDLE
TIME CREATED
*/
.top-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 1;
  margin-bottom: -20px;
}

.handle {
  order: 1;
  font-size: 18px;
  opacity: 0.7;
}

.time {
  order: 2;
  font-size: 12px;
  font-weight: lighter;
  opacity: 0.5;
}

.bottom-wrapper {
  order: 2;
}

.tweet-content {
  text-align: left;
}
