.admin {
  background-color: rgb(17, 17, 17);
  height: 100%;
  width: 100%;
  position: fixed;
}

.admin-container {
  padding-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stock-part, .sent-part {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}


h1 {
  margin-bottom: 0;
}

input {
  background-color: transparent;
  color: white;
  border-color: transparent;
  font-size: 30px;
  text-align: right;
  appearance: none;
}

input:focus {
    outline:none;
}

.val-detail {
  opacity: 0.8;
  transition: 0.25s linear;
}

.val-detail:hover {
  opacity: 1.0;
}

.range {
  padding-bottom: 20px;
  margin: 10px;
  width: 100%;
  /*background-color: white;*/
}

.time-set  {
  color: white;
  font-size: 30px;
  padding: 30px;
  align-self: flex-start;
}

.time-set input {
  text-align: left;
}

.button {
  align-self: center;
  width: 50%;
  display: inline-block;
  padding: 30px;
  border-color: white;
  background: transparent;
    border-style: solid;
  color: white;
  font-size: 30px;
  border-radius: 50px;
  transition: 0.25s ease-in-out;
}

.button:hover {
  width: 100%;
  border-radius: 20px;
  background-color: white;
  color: rgb(17, 17, 17);
}
