.admin {
  background-color: rgb(17, 17, 17);
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-container {
  /*background-color: red;*/
  width: 50%;
  margin-top: -200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stock-part, .sent-part {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}


h1 {
  margin-bottom: 0;
}

input {
  background-color: transparent;
  color: white;
  border-color: transparent;
  font-size: 30px;
  text-align: right;
  appearance: none;
}

input:focus {
    outline:none;
}

.flux {
  display: flex;
  flex-direction: row;
}

.flux-title {
  margin-right: 20px;
}

.slider {
  width: 150px;
}


.flux-button {
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;

  background-color: transparent;
  border-radius: 5px;
  transition: 0.25s ease-in-out;
  border-style: solid;
  border-width: 1px;
  color: white;
}

.flux-button:hover, .flux-button:focus {
  background-color: white;
  color: black;
}

.val-detail {
  opacity: 0.8;
  transition: 0.25s linear;
}

.val-detail:hover {
  opacity: 1.0;
}

.range {
  padding-bottom: 20px;
  margin: 10px;
  width: 100%;
  /*background-color: white;*/
}

.time-set  {
  color: white;
  font-size: 30px;
  padding: 30px;
  align-self: flex-start;
}

.time-set input {
  text-align: right;
}

.button-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  align-self: center;
  display: inline-block;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  background: transparent;
  border-style: solid;
  color: white;
  font-size: 30px;
  border-radius: 50px;
  transition: 0.25s ease-in-out;
  width: 50%;
}

.button:hover {
  border-radius: 20px;
}

.button.update:hover {
  background-color: white;
  border-color: white;
  color: rgb(17,17,17);
}

.button.start {
  border-color: rgb(155, 229, 130);
}

.button.start:hover {
  background-color: rgb(155, 229, 130);
  color: white;
}

.button.stop {
  border-color: rgb(255, 97, 76);
}

.button.stop:hover {
  background-color: rgb(255, 97, 76);
  color: white;
}

.button:hover {
  width: 100%;
}

button:focus {outline:0;}
