@import "/../../node_modules/react-vis/dist/style";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Nunito:300|Quicksand|Roboto|Maven+Pro');

html {
  font-family: 'Maven Pro', sans-serif;
}

body {
  height:100%;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #222;
  height: 2em;
  padding: 20px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 35px;
  -webkit-animation: pulsate 5s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  transition: 0.15s linear;
}

.App-logo:hover {
  animation: bounce 0.5s ease-in-out;
  transform: scale(1.1);
  opacity: 1;
}

@keyframes bounce {
  0% { transform: scale(1.0);}
  35% { transform: scale(1.15);}
  50% { transform: scale(0.9);}
  75% { transform: scale(1.05);}
  10% { transform: scale(1.0);}
}

/*Pulse animation for central logo*/
@keyframes pulsate {
    0% {transform: scale(1.0, 1.0); opacity: 0.7;}
    50% {transform: scale(1.1, 1.1); opacity: 0.9;}
    100% {transform: scale(1.0, 1.0); opacity: 0.7;}
}

.admin-logo {
  opacity: 0.3;
  margin-right: 10px;
  color: white;
  text-decoration: none;
  transition: 0.25s linear;
}

.admin-logo:hover {
  opacity: 0.8;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}
