.social-media-container {
  display: flex;
  flex-direction: column;

  order: 1;
  flex: 1;
}
    .social-media-title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;

      /*background-color: red;*/
      text-transform: uppercase;
      letter-spacing: 10px;
      color: white;
    }

    .social-media-content {
      height: 100%;
      /*background-color: yellow;*/
      display: flex;
      flex-direction: column;
      transition: 0.2s ease-in-out
    }

    .social-media-content-container {
      margin: 10px;
      /*background-color: blue;*/
      display: flex;
      flex-direction: column;
      transition: 0.2s ease-in-out
    }

      .social-media-filters {
        flex: 1;
        background-color: #222;
        border-radius: 5px;
        margin: 5px;
      }

      .social-media-pinned-tweets {
        flex: 4;
        background-color: #222;
        margin: 5px;
        border-radius: 5px;
      }
