.social-media-container {
  display: flex;
  flex-direction: column;

  order: 1;
  flex: 1;
}
    .social-media-title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;

      /*background-color: red;*/
      text-transform: uppercase;
      letter-spacing: 10px;
      color: white;
    }

    .social-media-content {
      height: 100%;
      /*background-color: yellow;*/
      display: flex;
      flex-direction: column;
      transition: 0.2s ease-in-out
    }

    .social-media-content-container {
      /*position: relative;*/
      margin: 10px;
      /*background-color: blue;*/
      display: flex;
      flex-direction: column;
      transition: 0.2s ease-in-out
    }

      .social-media-filters {
        flex: 1;
        background-color: #222;
        border-radius: 5px;
        margin: 5px;
      }

      .social-media-pinned-tweets {
        flex: 4;
        background-color: #222;
        margin: 5px;
        border-radius: 5px;
      }

  .new-pinned-tweet-entry {
    display: flex;
    flex-direction: row;
    margin: 20px;
    border-radius: 5px;
    padding: 10px;
  }

  .new-pinned-tweet-submit {
    border-style: solid;
    background-color: transparent;
    border-color: white;
    border-width: 2px;
    margin-left: 20px;
    color: white;
    border-radius: 5px;
  }

  .pinned-tweet-input {
    background-color: rgba(255,255,255,0.1);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1em;
  }

  .clear-all-button {
    margin-top: 10px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: red;
    background-color: transparent;
    color: white;
    font-family: inherit;
    height: 20px;

    transition: 0.2s ease;
  }

  .clear-all-button:hover {
    background-color: red;
  }

/****Tags****/

  .react-tagsinput {
    background-color: transparent;
    border: none;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
    font-family: inherit;
    margin: 10px;
  }

  .react-tagsinput--focused {
    border-color: #a5d24a;
  }

  .react-tagsinput-tag {
    background-color: rgba(255,255,255,0.1);
    border-style: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-family: inherit;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px;

    transition: 0.2s ease;
  }

  .react-tagsinput-tag:hover{
    background-color: rgba(255,255,255,0.3);
  }

  .react-tagsinput-remove {
    cursor: pointer;
    font-weight: bold;
  }

  .react-tagsinput-tag a::before {
    content: " ×";
  }

  .react-tagsinput-input {
    background: transparent;
    border: 0;
    color: #777;
    font-size: 0.9em;
    font-family: inherit;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 1px;
    outline: none;
    padding: 5px;
    width: 80px;
  }
